
/* ---------- main rules ---------- */

body {
    width: 100%;
}

#mainWrapper {
    max-width: 1200px;
    padding: 20px;
    width: 95%;
    margin: auto;
}

ul,
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

header,
nav,
main,
footer {
    margin-bottom: 20px;
}

/* ---------- header ---------- */

header .logo-paullaroid {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

header .infos-paulla {
	text-align: center;
}

/* ---------- main menus ---------- */
#menu-main li {
    display: inline-block;
    margin-right: 2px;
}
#menu-main a {
    padding: 5px 10px;
    background: #AAA;
    color: white;
    font-size: 20px;
    border-radius: 1rem;
}
#menu-main a:hover {
    background: #BBB;
}
#menu-events a {
    color: #205C90;
}
#menu-events a:hover {
    color: #5c99de;
}

/* ---------- footer ---------- */

footer {
	text-align: center;
}

footer li {
    display: inline-block;
    margin-right: 2px;
    font-size: 12px;
    color: #AAA;
}
