
/* ---------- main rules ---------- */

body {
    width: 100%;
    height:100%;
}

#mainWrapper {
 
    padding: 20px;
    width: 95%;
    margin: auto;
}

ul,
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}


header,
nav,
main,
footer {
    margin-bottom: 20px;
}

h3
{
	font-size : 2rem;
	margin-bottom : 5px;
}

/* ---------- header ---------- */


header
{
	text-align:center;
}



header div{
	display:inline-block;
	vertical-align:bottom;
}

header .logo-paulla img
{
	height : 150px;
}

header .infos-paulla {
	text-align: center;
}


header nav
{
	padding-top : 10px;
}

/* --------- search --------- */

#search h3
{
	display:inline-block;
}

#search form
{
	display:inline-block;
}


/* ---------- main menus ---------- */
#menu-main li {
    display: inline-block;
    margin-right: 2px;
}
#menu-main a {
    padding: 5px 10px;
    background: #AAA;
    color: white;
    font-size: 20px;
    border-radius: 1rem;
}
#menu-main a:hover {
    background: #BBB;
}
#menu-events a h3{
    color: #205C90;
}
#menu-events li:hover h3{
    color: #5c99de;
}

#menu-events li
{
	border-bottom : 1px dashed black;
	heigth:65px;
	border:1px solid #ddd;
	border-radius : 5px 0px 0px 5px;
	margin-bottom:10px;
	box-shadow : 0px 0px 2px white inset; 
	
}

#menu-events li a
{
	color:black;
	heigth:100%;
}

#menu-events li a .event
{
	color:black;
	heigth:100%;
	display:none;
}

#menu-events li .gauche , #menu-events li .droite
{
	display:inline-block;
	vertical-align:middle;
}

#menu-events li .droite
{
	overflow: hidden;
	text-overflow: ellipsis; 
}

#menu-events li .gauche
{
	width:100px;
	padding-left:5px;
	text-align:center;
	background-color:rgba(139, 196, 228, 0.5);
	font-weight:800;
	color:rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px white inset;
	line-height: 90%;
    font-size: 15;
    padding: 5px;
	
}

#menu-events li .gauche .chiffre
{
	    font-size: 30px;
    line-height: 100%;
	display:block;
}

#menu-events li:hover
{
	background-color:rgba(139, 196, 228, 0.1);
	cursor:pointer !important;
}

#menu-events h2
{
	border-bottom:1px solid black;
}
/* ---------- footer ---------- */

footer {
	text-align: center;
}

footer li {
    display: inline-block;
    margin-right: 2px;
    font-size: 12px;
    color: #AAA;
}


/* -------- position element in flex ----- */

#slider
{
	flex:1;

	height : 50vh;
	overflow-y : hidden;

}


/* ------- mobile ---------- */

@media only screen and (max-width: 650px) {
	
	header
	{
		height : 100%;
	}
	header div
	{
		display:block;
	}

	header .infos-paulla
	{
		margin-top:calc(50vh - 50px - 120px);
	} 
	
	
	header .logo-paulla img
	{
		height : 200px;;
	}
}

@media only screen and (max-height: 800px) {
	#slider
	{
		height : auto;
	}

}
